body {
    background-color: #0f0e13;
}

.container1 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container2 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flexcontainer1 {
    display: flex;
    width: 100%;
    height: 150px;
    border: 3px solid white;
    margin-bottom: 30px;
}

.flexcontainer2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: 470px;
    margin-top: 30px;
}

.flexcontainer3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 450px;
    border: 3px solid white;
    margin-top: 30px;
}

.flexcontainer4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 650px;
    border: 3px solid white;
    margin-top: 30px;
    margin-bottom: 30px;

    color: white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flexcontainer5 {
    display: flex;
    width: 100%;
    height: 310px;
    border: 3px solid white;

    margin-bottom: 50px;
    margin-top: 30px;
}

.flexcontainer6 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
    height: 200px;
    /* border: 3px solid white; */
    
    margin-bottom: 20px;
    margin-top: 20px;
}

.imgs {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    width: 350px;
    height: 50px;
    /* border: 3px solid white; */
    
    margin-top: 20px;
    margin-bottom: -30px;
}

.metext {
    width: 270px;
}

#cont1 {
    justify-content: center;
    align-items: center;
}

#cont2 {
    justify-content: center;
    align-items: center;
}

.flexItem {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    border: 1px solid red;
    margin: 5px;
}

#myname {
    font-style: bold;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 70px;
}

#projectstext {
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 35px;
    margin-top: 40px;
}

.imagesection {
    margin-top: 15px;
}

.skillpart, .biopart {
    width: 500px;
    height: 340px;
    /* border: 3px solid white; */
    justify-content: center;

    text-align: center;
    font-size: 17px;
    
}

#headsection{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
}

#footnote {
    font-weight: 550;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}

.contacts {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    justify-self: flex-start;

    width: 500px;
    margin-left: 10px;
}

.address {
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    display: flex;
    justify-self: flex-end;

    width: 500px;
    margin-left: 10px;
}

#contacttext, #addtext{
    text-align: justify;
    font-size: 15px;
    color:darkgray;
}
